<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DOM Angular App</title>
  <script src="./lib/traceur-runtime.js"></script>
  <script src="./lib/Reflect.js"></script>
  <script src="./lib/system-csp-production.js"></script>
  <script src="./lib/zone.min.js"></script>
  <script src="./lib/angular2.js"></script>
  <script src="./lib/angular2-router.js"></script>
  <script src="./app-controller.js"></script>
  <base href="/dist/dev/ng-compiler/">
</head>
<body>
  <angular-app></angular-app>
  <script>
    window.addEventListener('message', function onBootstrapMessage(e) {
      window.removeEventListener('message', onBootstrapMessage);

      System.register('app-description', [], function(exports) {
        return {
          setters: [],
          execute: function() {
            exports('pages', e.data.compiledApp.pages);
            exports('application', e.data.jsonCompiledApplication)
          }
        }
      });

      System.import(
        'compilers/dom/dom-angular/template/app-controller'
      ).catch(function(e) { console.error(e); })
    })
  </script>
</body>
</html>