@import '../../node_modules/sass-flex-mixin/flex.scss';
@import '../ts/editor/expandable-groups/expandable-groups';

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 2rem;

  box-sizing: border-box;
}

.vargin-editor {
  @include flexbox;
  @include flex-direction(row);

  height: 100%;
  width: 100%;
}

.vargin-editor__components,
.vargin-editor__workspace,
.vargin-editor__properties {
  overflow-y: auto;

  border: 1px solid #ddd;
}

.vargin-editor__workspace {
  @include flex(3);
  border-left: none;
  border-right: none;
}

.vargin-editor__components,
.vargin-editor__properties {
  @include flex();
}

.vargin-properties_empty {
  padding: 1rem;
  text-align: center;
}

.vargin-properties__remove-control {
  margin: 1rem 0;
}

.vargin-component:-moz-drag-over {
  border: 5px solid black !important;
}

.vargin-dynamic-anchor {
  display: none;
}

/*@supports (display: contents){
  vargin-dynamic,
  vargin-button,
  vargin-container,
  vargin-label,
  vargin-range {
    display: contents;
  }
}*/

vargin-dynamic {
  @include inline-flex;

  &[type=container] {
    @include flexbox;
  }

  > vargin-button,
  > vargin-container,
  > vargin-label,
  > vargin-range {
    @include flexbox;
    @include flex;
  }
}

vargin-label > span,
vargin-button > button,
vargin-range > input,
vargin-container > div {
  @include flex;
}

.vargin-property-editor {
  @include flexbox;
  @include align-content(space-between);
}

.vargin-property-editor__label {
  @include flex(1);
}