@import '../../node_modules/sass-flex-mixin/flex.scss';
@import '../ts/editor/expandable-groups/expandable-groups';

html, body {
  height: 100%;
  width: 100%;

  margin: 0;
}

body {
  padding: 2rem;

  box-sizing: border-box;
}

.vargin-editor {
  @include flexbox;
  @include flex-direction(row);

  height: 100%;
  width: 100%;
}

.vargin-editor__components,
.vargin-editor__workspace,
.vargin-editor__properties {
  overflow-y: auto;

  border: 1px solid #ddd;
}

.vargin-editor__workspace {
  @include flex(3);
  border-left: none;
  border-right: none;
}

.vargin-editor__components,
.vargin-editor__properties {
  @include flex();
}

.vargin-properties_empty {
  padding: 1rem;
  text-align: center;
}

.vargin-properties__remove-control {
  margin: 1rem 0;
}

.vargin-component:-moz-drag-over {
  border: 5px solid black !important;
}

.vargin-dynamic-anchor {
  display: none;
}

/*@supports (display: contents){
  vargin-dynamic,
  vargin-button,
  vargin-container,
  vargin-label,
  vargin-range {
    display: contents;
  }
}*/

vargin-dynamic {
  @include inline-flex;

  &[type=container] {
    @include flexbox;
  }

  > vargin-button,
  > vargin-container,
  > vargin-label,
  > vargin-range,
  > vargin-text-input {
    @include flexbox;
    @include flex;
  }
}

vargin-label > span,
vargin-button > button,
vargin-range > input,
vargin-text-input > input,
vargin-container > div {
  @include flex;
}

.vargin-property-editor {
  @include flexbox;
  @include align-content(space-between);
  @include align-items(center);
}

.vargin-property-editor__label {
  @include flex(1);
}

.vargin-property-editor__input {
  width: 50%;

  box-sizing: border-box;
}

.vargin-property-editor-event {
  .vargin-property-editor__label {
    cursor: pointer;

    text-decoration: underline;
  }
}

.vargin-action-list__item {
  list-style: none;

  margin: 0.5rem 0;

  &:hover {
    .vargin-action-list__remove {
      visibility: visible;
    }
  }
}

.vargin-action-list {
  padding-left: 1rem;
}

.vargin-action-list__remove {
  visibility: hidden;

  padding: 0;

  background: transparent;
  border: none;
  color: #000;

  cursor: pointer;
}

vargin-action-editor {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);
}

.vargin-action-editor__content {
  border: 1px solid #ddd;
  background: #fff;

  padding: 1rem;
}

.vargin-action-editor__properties {
  padding: 0;

  color: #5A5A5A;
}

.vargin-action-editor__property {
  margin: 0.5rem 0;
  list-style: none;
}
