@import '../../node_modules/sass-flex-mixin/flex.scss';
@import '../ts/editor/expandable-groups/component.scss';

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 2rem;

  box-sizing: border-box;
}

.vargin-editor {
  @include flexbox;
  @include flex-direction(row);

  height: 100%;
  width: 100%;
}

.vargin-editor__components,
.vargin-editor__workspace,
.vargin-editor__properties {
  border: 2px dashed red;
}

.vargin-editor__workspace {
  @include flex(3);
}

.vargin-editor__components,
.vargin-editor__properties {
  @include flex();
}

.vargin-component:-moz-drag-over {
  border: 5px solid black !important;
}

.vargin-dynamic-anchor {
  display: none;
}
