<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Angular App</title>
  <script src="js/lib/system-csp-production.js"></script>
  <script src="js/lib/Rx.js"></script>
  <script src="js/lib/angular2-polyfills.js"></script>
  <script src="js/lib/angular2.dev.js"></script>
  <script src="js/lib/router.dev.js"></script>
  <script src="js/lib/condition-parser.js"></script>
  <script src="js/app-controller.js"></script>
  <base href="/dist/dev/editor/ng2-compiler/">
</head>
<body>
  <angular-app></angular-app>
  <script>
    var ngApplication = (window.opener || window.parent).application;

    var style = document.createElement('style');
    style.type = 'text/css';
    style.innerHTML = ngApplication.css;
    document.getElementsByTagName('head')[0].appendChild(style);

    System.register(
      'src/compilers/angular/template/app-description',
      [],
      function(exports) {
        return {
          setters: [],
          execute: function() {
            exports('application', ngApplication.application);
          }
        };
      }
    );

    System.import('src/compilers/angular/template/app-controller').catch(
      function(e) { console.error(e); }
    );
  </script>
</body>
</html>