@import '../../../node_modules/sass-flex-mixin/flex';

.flex-editor__input {
  @include flexbox;
  @include align-items(center);
  @include justify-content(end);
}

.flex-editor__input-value {
  @include flex(1);

  min-width: 0;
  margin-right: 0.2rem;

  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.property-editor-dialog__header {
  margin-bottom: 0.5rem;
}

.property-editor-dialog__save-button {
  float: right;
}
