@import '../../../node_modules/sass-flex-mixin/flex.scss';

.vargin-component_drop-target {
  border: 0.2rem dashed #d2cfcf !important;
}

.vargin-component_active {
  box-shadow: 0 0 1rem #9ecaed;
}

vargin-input {
  @include inline-flex;

  > input {
    @include flex;

    background: inherit;
    color: inherit;
    border: none;
    font: inherit;
    padding: 0;
    margin: 0;
  }
}

/*@supports (display: contents){
  vargin-dynamic,
  vargin-button,
  vargin-container,
  vargin-label,
  vargin-range {
    display: contents;
  }
}*/

[vargin-type=service-container] {
  @include flexbox;
  @include flex;

  > [vargin-type] {
    margin-left: 0.3rem;
  }
}

.vargin-service-component {
  display: inline-block;

  width: 2.5rem;

  font: normal normal normal 2.2rem/1 'Vargin Icons';
  text-rendering: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vargin-service-component__datasource {
  &:before {
    content: 'a';
  }
}

[vargin-type=datasource] {
  @include flexbox;
  @include align-items(center);
}
